# Sensitive files
.env
*.env
.git-credentials
*.pem
*.key
*.log
*.bak
*.swp

# Common dependency and runtime folders
vendor/
node_modules/
storage/
tmp/
temp_restore/

# Server/user-specific config dirs
.cache/
.cagefs/
.caldav/
.cl.selector/
.config/
.cpanel/
.gnupg/
.local/
.sitepad/
.spamassassin/
.softaculous/
.trash/
mail/
ssl/

# SSH keys and config
.ssh/
.ssh/id_ed25519

# cPanel and symlinked paths to ignore
www/
gmpm-new/
access-logs/
public_html/  # <-- ignore symlink if present

# Allow real ~/public_html contents even if above line matches a symlink
!public_html
!public_html/**

